<sm-menu iconClass="al-ico-bars-menu">
  <sm-menu-item itemLabel="项目设置"
                data-id="Edit"
                iconClass="al-ico-settings"
                [disabled]="!project().company?.id"
                (itemClicked)="projectSettingsClicked.emit(project())"></sm-menu-item>
  <sm-menu-item itemLabel="新建项目"
                data-id="New Project"
                iconClass="al-ico-add"
                (itemClicked)="newProjectClicked.emit(project())"></sm-menu-item>
  <sm-menu-item itemLabel="移动到"
                data-id="Move To"
                iconClass="al-ico-move-to"
                (itemClicked)="moveToClicked.emit(project())"></sm-menu-item>
  <sm-menu-item itemLabel="删除"
                data-id="Delete"
                iconClass="al-ico-trash"
                (itemClicked)="deleteProjectClicked.emit(project())"></sm-menu-item>
  <ng-content select="[extendedCardMenu]"></ng-content>
</sm-menu>
