<div class="d-flex justify-content-between">
  <div class="d-flex align-items-center">
    <sm-search
      #search
      class="outline"
      placeholder="输入模型名称或 ID 以加入比较"
      [value]="searchValue()"
      (valueChanged)="onSearchValueChanged($event)"
      (focusout)="onSearchFocusOut()">
    </sm-search>
  </div>
  <div class="d-flex-center">
    @if (!hideArchiveToggle()) {
      <mat-slide-toggle
        class="me-2"
        [checked]="isShowArchived()"
        (change)="isArchivedChanged.emit($event.checked)"
      >包含已归档项</mat-slide-toggle>
    }
    <sm-clear-filters-button
      [tableFilters]="tableFilters()"
      (clearTableFilters)="clearFilters.emit()"
    ></sm-clear-filters-button>
  </div>
</div>
