@if (S3Form) {
  <form [formGroup]="S3Form" class="form-container">
      @if (bucketCredentials.controls.length > 0 || externalCredentials()?.length) {
        <div class="s3-row header">
          <div>存储桶</div>
          <div>访问密钥</div>
          <div>密钥 / SAS</div>
          <div>令牌</div>
          <div>AWS 区域</div>
          <div>端点主机</div>
        </div>
      }
    <div class="credentials-container">
      @for (bucket of externalCredentials(); track $index) {
        <div class="s3-row">
          <div class="value ellipsis">{{ bucket.Bucket }}</div>
          <div class="value ellipsis">{{ bucket.Key }}</div>
          <div class="value ellipsis">{{ bucket.Secret }}</div>
          <div class="value ellipsis">{{ bucket.Token }}</div>
          <div class="value ellipsis">{{ bucket.Region }}</div>
          <div class="value ellipsis">{{ bucket.Endpoint }}</div>
        </div>
      }
      @for (bucket of bucketCredentials.controls; track bucket?.value?.Bucket ? bucket.value.Bucket + bucket.value.Endpoint : $index) {
        <div class="s3-row" formArrayName="bucketCredentials">
          <ng-container [formGroupName]="$index">

            <mat-form-field appearance="outline" class="no-bottom">
              <input matInput class="form-control" formControlName="Bucket"></mat-form-field>
            <mat-form-field appearance="outline" class="no-bottom">
              <input matInput class="form-control" formControlName="Key"></mat-form-field>
            <mat-form-field appearance="outline" class="no-bottom">
              <input matInput class="form-control" formControlName="Secret"></mat-form-field>
            <mat-form-field appearance="outline" class="no-bottom">
              <input matInput class="form-control" formControlName="Token"></mat-form-field>
            <mat-form-field appearance="outline" class="no-bottom">
              <input matInput class="form-control" formControlName="Region" placeholder="例如：us-east-2"></mat-form-field>
            <mat-form-field appearance="outline" class="no-bottom">
              <input #endpoint matInput class="form-control" formControlName="Endpoint" placeholder="使用 AWS S3 时可留空">
            </mat-form-field>
            <div class="d-flex justify-content-end">
              @if (endpoint.value.startsWith('http://') && secured) {
                <span class="alert-icon me-2" smTooltip="在安全的前端页面中通过不安全的传输方式（HTTP）嵌入图片，可能需要对浏览器进行特殊配置">
                <i class="al-icon sm-md al-ico-alert"></i>
              </span>
              }
              <button mat-icon-button smTooltip="移除" matTooltipShowDelay="500" (click)="removeBucket($index)">
                <mat-icon fontSet="al" [fontIcon]="ICONS.REMOVE"></mat-icon>
              </button>
            </div>
          </ng-container>
        </div>
      }
    </div>
    <div>
      <button mat-button (click)="addBucket({})">
        <mat-icon fontSet="al" fontIcon="al-ico-add"></mat-icon>
        添加访问密钥
      </button>
    </div>
  </form>
}
