<div class="s3-sub-header">
  <div [innerHTML]="header | purify"></div>
</div>
<div class="container">
  <form #S3NGForm="ngForm" (submit)="S3NGForm.form.markAllAsTouched(); saveNewCredentials()">
    @if (!isAzure) {
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>访问密钥</mat-label>
        <input matInput type="text" name="Key" required placeholder="访问密钥" [(ngModel)]="s3Form.Key" #keyInput="ngModel"
          autocomplete="off">
        @if (keyInput.errors?.required) {
          <mat-error>*必填</mat-error>
        }
      </mat-form-field>
    }
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>密钥</mat-label>
      <input matInput [(ngModel)]="s3Form.Secret" type="text" name="Secret" required #secretInput="ngModel"
        autocomplete="off"
        [placeholder]="isAzure ? '共享访问签名（SAS）' : '密钥'">
      @if (secretInput.errors?.required) {
        <mat-error>*必填</mat-error>
      }
    </mat-form-field>
    @if (!isAzure) {
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>令牌</mat-label>
        <input matInput [(ngModel)]="s3Form.Token" type="text" name="Token" placeholder="令牌" autocomplete="off">
      </mat-form-field>
    }
    @if (!isAzure && !isGCS) {
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>区域</mat-label>
        <input matInput [(ngModel)]="s3Form.Region" type="text" name="Region" placeholder="AWS 区域（如 us-east-2）"
          autocomplete="off">
      </mat-form-field>
    }
    @if ((!isAzure) && endpoint) {
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>端点</mat-label>
        <input
          matInput
          [(ngModel)]="s3Form.Endpoint"
          name="Endpoint"
          autocomplete="off"
          [disabled]="isGCS"
          placeholder="主机（端点）"
          >
        @if (s3Form.Endpoint.startsWith('http://') && secured) {
          <i
            matSuffix
            class="al-icon sm al-ico-alert"
            smTooltip="在安全的前端页面中通过不安全的传输方式（HTTP）嵌入图片，可能需要对浏览器进行特殊配置"
          ></i>
        }
      </mat-form-field>
    }
    <div class="w-100 d-flex justify-content-center mt-4">
      <button mat-flat-button (click)="S3NGForm.form.markAllAsTouched(); saveNewCredentials()"
        [disabled]="(!saveEnabled) || (formIsSubmitted && S3NGForm.invalid)">保存凭证
      </button>
    </div>
  </form>
</div>
