<div class="logo">
  <img
    [ngSrc]="darkTheme() ? environment().branding.logoSmall : environment().branding.logoSmall.replace('-white', '')"
    [priority]="true" alt="平台标志" class="logo-a" width="64" height="64">
</div>

@if (currentUser()) {
  <div #container class="items-container" [class.on-scrolling]="scrolling()">
    <a class="item al-ico-queues"
       routerLink="/workers-and-queues"
       routerLinkActive="active"
       smTooltip="工作节点与队列"
    ></a>
    <a class="item al-ico-model-endpoints"
       [routerLink]="'/endpoints/active'"
       [class.active]="baseRouteConfig() ==='endpoints'"
       smTooltip="模型服务"
       data-id="modelEndpointsIcon"
    ></a>
    <a class="item al-ico-datasets"
       [routerLink]="defaultNestedModeForFeature()?.['datasets']? '/datasets/simple/*/projects' : '/datasets'"
       [class.active]="baseRouteConfig() ==='datasets'"
       smTooltip="数据集"
    ></a>
    <a class="item al-ico-projects"
       smTooltip="项目"
       routerLink="/dashboard"
       [class.active]="['dashboard','reports', 'projects'].includes(baseRouteConfig())"
    ></a>
    <a class="item al-ico-pipelines"
       [routerLink]="defaultNestedModeForFeature()?.['pipelines']? '/pipelines/*/projects' : '/pipelines'"
       [class.active]="baseRouteConfig() ==='pipelines'"
       smTooltip="流水线"
    ></a>
    @if (!hideEnterpriseFeatures()) {
      <a class="item al-ico-enterprise-rocket lm"
         routerLink="enterprise"
         routerLinkActive="active"
         smTooltip="了解企业版"
      ></a>
    }
  </div>
}
@if (currentUser()) {
  <div class="account">
    @if (environment().slackLink) {
      <a class="item" [href]="environment().slackLink"
         target="_blank"
         smTooltip="Slack 社区支持"
      >
        <i class="i-slack-mark-color"></i>
      </a>
    }
  </div>
}
