@if (selectedStorage()) {
  <header class="sm-entity-page-header">
      <button mat-icon-button (click)="cancelChanges(); selectedStorage.set(null)">
        <mat-icon fontSet="al" fontIcon="al-ico-arrow-left" data-id="backStorage"></mat-icon>
      </button>
      <span>{{ selectedStorage() | uppercase }} 存储访问凭证</span>
    <div class="actions">
      <button mat-stroked-button
              type="button"
              [disabled]="storageForm.pristine"
              (click)="cancelChanges()">重置更改
      </button>
      <button mat-flat-button
              type="submit"
              [disabled]="storageForm.invalid || storageForm.pristine"
              (click)="save()">保存
      </button>
    </div>
  </header>
}
<form [formGroup]="storageForm" (ngSubmit)="onSubmit()">
  @switch (selectedStorage()) {
    @case ('google') {
      <sm-google-storage-credentials
        formGroupName="google"
        (save)="save()"
        (cancelClicked)="cancelChanges()">
      </sm-google-storage-credentials>
    }
    @case ('aws') {
      <sm-aws-storage-credentials
        formGroupName="aws"
        (save)="save()"
        (cancelClicked)="cancelChanges()">
      </sm-aws-storage-credentials>
    }
    @case ('azure') {
      <sm-azure-storage-credentials
        formGroupName="azure"
        (save)="save()"
        (cancelClicked)="cancelChanges()">
      </sm-azure-storage-credentials>
    }
    @default {
      <div class="storage-title">存储提供方</div>
      <div class="storage-desc">配置存储提供方访问凭证，使服务在删除任务或模型时能够同步删除云存储中的工件。</div>
      <div class="storage-options">
        <div class="tablet google" (click)="selectedStorage.set('google')">
          <i class="al-icon i-google-cloud xxl"></i>
          <div>谷歌云存储</div>
          @if (storageForm.controls.google.controls.credentials_json.value || storageForm.controls.google.controls.buckets.controls.length) {
            <span class="active-badge"><i class="al-icon al-ico-success sm-md me-2"></i>已配置</span>
          }
        </div>
        <div class="tablet aws" (click)="selectedStorage.set('aws')">
          <i class="al-icon i-aws-cloud xxl"></i>
          <div>AWS S3 存储</div>
          <span class="subtitle">（也适用于 <i class="al-icon i-minio xl"></i>）</span>
          @if (storageForm.controls.aws.controls.key.value || storageForm.controls.aws.controls.buckets.controls.length) {
            <span class="active-badge"><i class="al-icon al-ico-success sm-md me-2"></i>已配置</span>
          }
        </div>
        <div class="tablet azure" (click)="selectedStorage.set('azure')">
          <i class="al-icon i-azure-cloud xxl"></i>
          <div>Azure Blob 存储</div>
          @if (storageForm.controls.azure.controls.containers.controls.length) {
            <span class="active-badge"><i class="al-icon al-ico-success sm-md me-2"></i>已配置</span>
          }
        </div>
      </div>
    }
  }
</form>
