@if (credentials?.length) {
  <table class="admin-table">
    <thead>
      <tr>
        <th>标签</th>
        <th>访问密钥</th>
        <th>最近使用时间</th>
        <th>工作节点/IP</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (credential of credentials; track credential) {
        <tr>
          <td> <span class="label ellipsis" [smTooltip]="credential.label" smShowTooltipIfEllipsis matTooltipShowDelay="500">{{credential.label}}</span></td>
          <td>{{credential.access_key}}</td>
          <td [smTooltip]="credential?.last_used | date : timeFormatString" matTooltipShowDelay="500">{{credential?.last_used ? (credential.last_used |  timeAgo): '从未'}}</td>
          <td>{{credential?.last_used_from ? credential?.last_used_from : '不可用'}}</td>
          <td class="actions">
            <div class="action-button gap-2">
              <button mat-icon-button smTooltip="编辑标签" matTooltipShowDelay="500" (click)="editLabel(credential)"><mat-icon fontSet="al" [fontIcon]="icons.EDIT"></mat-icon></button>
              <button mat-icon-button smTooltip="撤销" matTooltipShowDelay="500" (click)="confirmPopUp(credential)"><mat-icon fontSet="al" [fontIcon]="icons.REMOVE"></mat-icon></button>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
