<sm-dialog-template
  [iconClass]="resetMode ? 'al-ico-alert' : 'al-ico-trash'"
  [header]="header"
  [displayX]="false"
>
  @if (!inProgress()) {
    <!---------------- RESET POPUP -------------->
    @if (resetMode) {
      <div class="mb-3">
        <span class="entity-name ellipsis inline" [smTooltip]="entityName" smShowTooltipIfEllipsis>{{entityName}}</span>
        将被重置。
      </div>
    @if (devWarning) {
      <div class="mb-3">
        <b>注意：正在重置 DEV 任务</b> 该任务后续的任何运行都会覆盖您在 Web 应用中对它所做的修改。
        <div>
          为避免这种情况，请先<b>克隆该任务</b>，然后在克隆后的任务上继续工作。</div>
      </div>
    }
    } @else {
      <div class="d-flex text-center">
        <span>确定要删除@if (numSelected === 1) {"}</span>
        <span  class="entity-name ellipsis inline" [class.mx-1]="numSelected > 1" [smTooltip]="entityName" smShowTooltipIfEllipsis>{{entityName}}</span>
        <span>@if (numSelected === 1) {"} 吗？</span>
      </div>
      <div class="mb-3">
        {{bodyMessage}}
      </div>
    }
      <!---------------- DELETE POPUP -------------->
      <div class="delete-artifacts-checkbox" [class.hidden-important]="hideDeleteArtifacts">
        <mat-checkbox
          #checkboxInput="ngModel"
          [(ngModel)]="deleteArtifacts"
          name="isApprove"
          >从文件服务器中删除所有相关工件和调试样本
        </mat-checkbox>
      </div>
      <div class="buttons">
        <button mat-flat-button cdkFocusInitial (click)="delete()" data-id="DeleteButton" class="yes-button">
          {{resetMode ? '重置' : '删除'}}
        </button>
        <button mat-stroked-button (click)="closeDialog(false)" data-id="CancelButton">
          取消
        </button>
      </div>
    } @else {
      <div>正在删除@if (progressPercent > 0) {
        <span>{{progressPercent}}%</span>
      }</div>
      <mat-progress-bar class="progress-bar" [mode]="progressPercent? 'determinate' : 'indeterminate'"
        [value]="progressPercent">
      </mat-progress-bar>
      @if (totalFilesNumber > 0) {
        @if (!showFinishMessage) {
          <div class="progress-message">
            正在删除工件，这可能需要一些时间。请不要关闭此窗口。
          </div>
        } @else {
          <div class="progress-message success">
            <i class="al-icon al-ico-success sm-md me-2"></i>工件已删除
          </div>
        }
      }
      <div [class.visible]="(failedEntities$ | ngrxPush)?.length > 0" class="files-list-container">
        <div (click)="openToggleEntities()" class="pointer">
          <mat-icon fontSet="al" fontIcon="al-ico-caret-right" class="more-info-icon" [class.info-open]="isOpenEntities"></mat-icon>以下{{entityType}}未被删除：
        </div>
        <div class="more-info" [class]="{'info-open': isOpenEntities}">
          <ul class="list-container">
            @for (entity of (failedEntities$ | ngrxPush); track entity) {
              <li>
                <div>{{entity.name}}</div>
                <div class="error-reason">{{entity.message}}</div>
              </li>
            }
          </ul>
        </div>
      </div>
      <div [class.visible]="failedFiles()?.length > 0" class="files-list-container">
        <div (click)="openToggle()" class="pointer">
          <mat-icon fontSet="al" fontIcon="al-ico-caret-right" class="more-info-icon" [class.info-open]="isOpen()"></mat-icon>以下工件未被删除：
        </div>
        <div class="more-info mono" [class]="{'info-open': isOpen()}">
          <sm-copy-clipboard label="" [clipboardText]="failedFiles().join('\n')"
            class="copy ps-2 light"
          ></sm-copy-clipboard>
          <a></a>
          @for (file of failedFiles() | slice:0:1000; track file) {
            <div>
              <div>{{file}}</div>
            </div>
          }
          @if (failedFiles().length > 1000) {
            <div>** 可能还有更多工件未删除 **</div>
          }
        </div>
      </div>
      <br><br>
      <div class="buttons">
        <button mat-stroked-button (click)="closeDialog(true)" [disabled]="progressPercent < 100">
          关闭
        </button>
      </div>
    }
  </sm-dialog-template>
