<form [formGroup]="projectForm" class="d-flex flex-column">
  <mat-form-field appearance="outline" class="mat-light">
    <mat-label>项目名称</mat-label>
    <input name="projectName"
           formControlName="name"
           matInput
           autocomplete="off"
           pattern="^[^\/]*$"
    >
    @if (projectForm.controls.name.invalid && projectForm.controls.name.errors; as errors) {
      <mat-error>
        @if (errors?.required) {
          请输入名称。
        }
        @else if (errors?.uniqueProject) {
          该路径下已存在同名项目。
        }
        @else if (errors?.minlength) {
          项目名称不能只包含空格。
        }
        @else if (errors?.pattern &&  !errors?.minlength) {
          项目名称不能包含斜杠（/）
        }
      </mat-error>
    }
  </mat-form-field>
<mat-form-field appearance="outline" class="mat-light">
  <mat-label>项目路径</mat-label>
  <input matInput
         name="parent"
         formControlName="parent"
  >
</mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>默认输出位置</mat-label>
    <input class="project-output-dest"
           matInput
           name="default_output_destination"
           formControlName="default_output_destination"
    >
    @if (projectForm.controls.default_output_destination.invalid && projectForm.controls.default_output_destination.errors; as errors) {
      <mat-error>
        @if (errors?.pattern) {
          输出位置格式不合法（例如：s3://bucket、gs://bucket）
        }
      </mat-error>
    }
  </mat-form-field>
</form>
