<h1>完整的 AI 基础设施管理方案</h1>
<p class="sub-title">
  ClearML AI 基础设施控制平面可为你的整个计算基础设施提供全面可视性与控制能力，通过动态切分 GPU 提高计算利用率，并优化云成本与资源分配。
</p>

<div class="section">
  <div class="details">
    <h2>集群仪表板</h2>
    通过详细的仪表板与活动日志全面掌握 AI 集群状态，按资源组、计算类型和工作节点识别基础设施利用率。
  </div>
  <div class="image" (click)="imageClicked(image1)">
    <img
      [ngSrc]="'app/webapp-common/assets/marketing/resource-dashboard-fhd-' + theme() + '.png'"
      #image1
      width="640"
      height="360"
      alt="Resource Dashboard"
    >
  </div>
</div>

<div class="section">
  <div class="image" (click)="imageClicked(image2)">
    <img
      [ngSrc]="'app/webapp-common/assets/marketing/resource-configuration-fhd-' + theme() + '.png'"
      #image2
      width="640"
      height="360"
      alt="resource configuration"
    >
  </div>
  <div class="details">
    <h2>资源分配与策略管理</h2>
    轻松创建、管理并监控多个资源池，支持细粒度到 GPU 切分级别的配置，以便在不同团队和用户之间优化计算资源使用优先级。
  </div>
</div>

<div class="section">
  <div class="details">
    <h2>配额管理</h2>
    通过配额、优先级、层级关系以及超额处理逻辑，按用户、团队或项目对计算资源分配进行细粒度控制。
  </div>
  <div class="image" (click)="imageClicked(image3)">
    <img
      [ngSrc]="'app/webapp-common/assets/marketing/resource-policies-fhd-' + theme() + '.png'"
      #image3
      width="640"
      height="360"
      alt="resource policies"
    >
  </div>
</div>

<div class="section">
  <div class="image" (click)="imageClicked(image4)">
    <img
      [ngSrc]="'app/webapp-common/assets/marketing/apps-autoscaler-' + theme() + '.png'"
      #image4
      width="640"
      height="360"
      alt="autoscalers"
    >
  </div>
  <div class="details">
    <h2>云自动伸缩器</h2>
    AWS、Azure 和 GCP 的自动伸缩器会在设定成本上限内，依据实时工作负载动态调整计算资源，从而优化资源利用率并降低云成本。
  </div>
</div>
<div class="cta">
  <a href="https://clear.ml/contact-us" target="_blank" class="cta-button">
    <mat-icon fontSet="al" fontIcon="al-ico-bullhorn"></mat-icon>联系 ClearML</a>
</div>
