@use '@angular/material' as mat;
@use "variables";

@mixin cards($theme) {
  @if mat.get-theme-type($theme) == light {
    --card-tab1-bg: #ffffff;
    --card-tab1-hover-bg: #f7f9ff;
    --card-footer-bg: #f5f8ff;
    --card-tab2-bg: #eef3ff;
    --card-tab2-bg-hover: #e6edff;
  } @else {
    --card-tab1-bg: #{variables.$blue-500};
    --card-tab1-hover-bg: #{variables.$blue-400};
    --card-footer-bg: #{variables.$blue-600};
    --card-tab2-bg: #{variables.$blue-600};
    --card-tab2-bg-hover: #{variables.$blue-700};
  }
}
