<div class="toggles">
  <sm-usage-stats #usage [class.d-none]="!usage.shown"></sm-usage-stats>
  @if (admin() || usage.shown) {
    <mat-slide-toggle
      (change)="statsChange($event)"
      [checked]="show()"
      color="accent"
      ><span class="d-flex-center">显示隐藏项目<i class="al-icon al-ico-ghost sm ms-3"></i></span>
    </mat-slide-toggle>
  }
  <mat-slide-toggle
    (change)="toggleExamples($event)"
    [checked]="hideExamples()"
    color="accent"
    >不显示示例
  </mat-slide-toggle>
  @if (supportReScaling) {
    <mat-slide-toggle
      (change)="hidpiChange($event)"
      [checked]="disableHidpi"
    >
      <div class="d-flex-center">
        禁用高分屏浏览器缩放覆盖
        <mat-icon fontSet="al" fontIcon="al-ico-info-circle" class="sm info ms-3"
                  data-id="hidpiInfoIcon"
                  smTooltip="平台会动态调整浏览器缩放比例，以获得更佳页面布局。关闭后将使用系统默认桌面缩放。"
        ></mat-icon>
        <a href="#" class="reload hidden ms-3" [class.hidden]="!disableHidpiChanged" (click)="$event.preventDefault(); reload($event)">重新加载以应用</a>
      </div>
    </mat-slide-toggle>
  }
  @if (tipsService.hasTips()) {
    <mat-slide-toggle
      (change)="setNeverShowTipsAgain($event)"
      [checked]="neverShowTipsAgain()?.includes(popupId)"
      color="accent"
      >不再定期显示提示
    </mat-slide-toggle>
  }
  @if (!this.config.configuration().enterpriseServer) {
    <mat-slide-toggle
      (change)="toggleEnterpriseFeatures($event.checked)"
      [checked]="hideEnterpriseFeatures()"
      color="accent"
    >不显示企业版功能</mat-slide-toggle>
  }
  <mat-slide-toggle
    (change)="toggleBlockUserScript($event)"
    [checked]="blockUserScripts()"
    [disabled]="config.configuration().blockUserScript"
  >
    <div class="d-flex-center">
      在浏览器中阻止运行用户脚本
      <mat-icon fontSet="al" fontIcon="al-ico-info-circle" class="sm info ms-3"
                data-id="blockScriptsInfoIcon"
                [smTooltip]="blockScriptNotice()"
      ></mat-icon>
    </div>
  </mat-slide-toggle>
    <mat-slide-toggle
      (change)="hideSpecificContainerArguments($event)"
      [checked]="!!hideRedactedArguments()"
    >
      <div class="d-flex-center">
        隐藏特定容器参数
        <mat-icon fontSet="al" fontIcon="al-ico-info-circle" class="sm info ms-3"
                  data-id="hideSpecificargInfoIcon"
                  smTooltip="在任务执行页面中对指定容器环境变量的值进行脱敏"
        ></mat-icon>
        <button class="ms-2" mat-button data-id="editButton" (click)="editHideSpecificContainerArguments()">编辑</button>
      </div>
    </mat-slide-toggle>
</div>
