<h1>强大的数据管理、探索与版本控制能力</h1>
<div class="sub-title">
  通过探索、可视化与查询你的数据来提升数据质量，并借助参数化数据访问和元数据版本控制加速 AI 开发。
</div>

<div class="section">
  <div class="image" (click)="imageClicked(image1)">
    <img
      [ngSrc]="'app/webapp-common/assets/marketing/hpds-images-fhd-' + theme() + '.png'"
      #image1
      width="640"
      height="360"
      alt="Versioning media"
    >
  </div>
  <div class="details">
    <h2>数据版本管理</h2>
    基于元数据、类似 Git 的数据集版本管理能力，确保 AI 开发过程可追踪、可复现。
  </div>
</div>

<div class="section">
  <div class="details">
    <h2>数据筛选与探索</h2>
    提供强大而灵活的查询界面，并集成向量相似度搜索，便于进行数据探索与训练数据质量控制。
  </div>
  <div class="image" (click)="imageClicked(image2)">
    <img
      [ngSrc]="'app/webapp-common/assets/marketing/hpds-query-fhd-' + theme() + '.png'"
      #image2
      width="640"
      height="360"
      alt="query"
    >
  </div>
</div>

<div class="section">
  <div class="image" (click)="imageClicked(image3)">
    <img
      [ngSrc]="'app/webapp-common/assets/marketing/hpds-stats-fhd-' + theme() + '.png'"
      #image3
      width="640"
      height="360"
      alt="Statistics"
    >
  </div>
  <div class="details">
    <h2>数据洞察</h2>
    按需从样本和标注两个层面探索数据集质量。
  </div>
</div>

<div class="section">
  <div class="details">
    <h2>可视化标注编辑器</h2>
    浏览任意数据样本，查看并编辑标注与元数据。
  </div>
  <div class="image" (click)="imageClicked(image4)">
    <img
      [ngSrc]="'app/webapp-common/assets/marketing/hpds-annotator-fhd-' + theme() + '.png'"
      #image4
      width="640"
      height="360"
      alt="Annotation"
    >
  </div>
</div>
<div class="cta">
  <a href="https://clear.ml/contact-us" target="_blank" class="cta-button">
    <mat-icon fontSet="al" fontIcon="al-ico-bullhorn"></mat-icon>联系 ClearML</a>
</div>
