<div [formGroup]="form" class="pb-4 position-relative">
  <div class="provider-icon">
    <i class="al-icon i-aws-cloud md"></i>
  </div>
  <div class="aws-table-global">
    <div class="sub-title">默认凭证</div>

    <mat-form-field appearance="outline" class="black" readonly="true">
      <mat-label class="header">
        <span>访问密钥</span>
        <i class="al-icon al-ico-info-circle ms-2 msm"
           smTooltip="当存储桶列表中未单独指定时使用的默认访问密钥"></i>
      </mat-label>
      <input matInput formControlName="key" autocomplete="delete-key"/>
      @if (form.controls.key.value) {
        <sm-copy-clipboard [clipboardText]="form.controls.key.value"
                           label=""
                           class="copy-clipboard"
                           data-id="copy to clipboard"></sm-copy-clipboard>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="black">
      <mat-label class="header">
        <span>密钥</span>
        <i class="al-icon al-ico-info-circle ms-2 msm"
           smTooltip="当存储桶列表中未单独指定时使用的默认密钥"></i>
      </mat-label>
      <input matInput formControlName="secret" type="password" autocomplete="delete-secret"/>
      @if (form.controls.secret.value) {
        <sm-copy-clipboard [clipboardText]="form.controls.secret.value"
                           label=""
                           class="copy-clipboard"
                           data-id="copy to clipboard"></sm-copy-clipboard>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="black">
      <mat-label class="header">
        <span>访问令牌</span>
        <i class="al-icon al-ico-info-circle ms-2 msm"
           smTooltip="AWS 账户的会话令牌，仅在使用临时凭证时需要"></i>
      </mat-label>
      <input matInput formControlName="token"/>
      @if (form.controls.token.value) {
        <sm-copy-clipboard [clipboardText]="form.controls.token.value"
                           label=""
                           class="copy-clipboard"
                           data-id="copy to clipboard"></sm-copy-clipboard>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="black">
      <mat-label class="header">
        <span>区域</span>
        <i class="al-icon al-ico-info-circle ms-2 msm"
           smTooltip="当存储桶列表中未单独指定时使用的默认区域"></i>
      </mat-label>
      <input matInput formControlName="region"/>
    </mat-form-field>

    <mat-checkbox formControlName="use_credentials_chain">
      <mat-label class="header">
        <span>凭证链</span>
        <i class="al-icon al-ico-info-circle ms-2 msm"
           smTooltip="系统会从环境变量、凭证文件以及配置了 IAM 角色的元数据服务中查找凭证"></i>
      </mat-label>
    </mat-checkbox>

  </div>

  <div class="pb-3 aws-table" formArrayName="buckets">
    <div class="sub-title">存储桶专用凭证</div>

    @for (bucket of awsBuckets.controls; track bucket; let i = $index) {
      <div class="bucket-row" [formGroupName]="i">
        <button mat-icon-button class="trash" (click)="removeAwsBucket(i)">
          <mat-icon fontSet="al" fontIcon="al-ico-trash sm-md"></mat-icon>
        </button>
        <mat-form-field appearance="outline" class="black">
          <mat-label class="header">
            <span>存储桶</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               smTooltip="为当前单独配置凭证的存储桶名称"></i>
          </mat-label>
          <input matInput formControlName="bucket"/>
        </mat-form-field>

        <mat-form-field appearance="outline" class="black">
          <mat-label class="header">
            <span>区域</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               smTooltip="当前存储桶的区域名称"></i>
          </mat-label>
          <input matInput formControlName="region"/>
        </mat-form-field>

        <mat-form-field appearance="outline" class="black">
          <mat-label class="header">
            <span>主机</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               smTooltip="当前存储桶的主机 URL 与端口。对于非 AWS 端点，通常必须显式指定端口"></i>
          </mat-label>
          <input matInput formControlName="host"/>
        </mat-form-field>

        <mat-checkbox formControlName="secure">
          <div class="header">
            <span>安全主机</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               smTooltip="指定按主机配置存储桶凭证时，该主机是否为安全连接"></i>
          </div>
        </mat-checkbox>

        <mat-checkbox formControlName="verify">
          <div class="header">
            <span>校验 SSL 证书</span>
          </div>
        </mat-checkbox>

        <br>

        <mat-form-field appearance="outline" class="black" [class.disabled]="form.controls.buckets.controls[i].controls.use_credentials_chain.value">
          <mat-label class="header">
            <span>访问密钥</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               smTooltip="当前存储桶的访问密钥"></i>
          </mat-label>
          <input matInput formControlName="key" [autocomplete]="'delete-key' + i" [required]="!form.controls.buckets.controls[i].controls.use_credentials_chain.value"/>
          @if (form.controls.buckets.controls[i].controls.key.value) {
            <sm-copy-clipboard [clipboardText]="form.controls.buckets.controls[i].controls.key.value"
                               label=""
                               class="copy-clipboard"
                               data-id="copy to clipboard"></sm-copy-clipboard>
          }
          @if (form.controls.buckets.controls[i].controls.key.errors?.required) {
            <mat-error>访问密钥为必填项</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="black" [class.disabled]="form.controls.buckets.controls[i].controls.use_credentials_chain.value">
          <mat-label class="header">
            <span>密钥</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               smTooltip="当前存储桶的密钥"></i>
          </mat-label>
          <input matInput formControlName="secret" [autocomplete]="'delete-secret' + i" [required]="!form.controls.buckets.controls[i].controls.use_credentials_chain.value" type="password"/>
          @if (form.controls.buckets.controls[i].controls.secret.value) {
            <sm-copy-clipboard [clipboardText]="form.controls.buckets.controls[i].controls.secret.value"
                               label=""
                               class="copy-clipboard"
                               data-id="copy to clipboard"></sm-copy-clipboard>
          }
          @if (form.controls.buckets.controls[i].controls.secret.errors?.required) {
            <mat-error>密钥为必填项</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="black" [class.disabled]="form.controls.buckets.controls[i].controls.use_credentials_chain.value">
          <mat-label class="header">
            <span>访问令牌</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               smTooltip="当前 AWS 存储桶的会话令牌，仅在使用临时凭证时需要"></i>
          </mat-label>
          <input matInput formControlName="token"/>
          @if (form.controls.buckets.controls[i].controls.token.value) {
            <sm-copy-clipboard [clipboardText]="form.controls.buckets.controls[i].controls.token.value"
                               label=""
                               class="copy-clipboard"
                               data-id="copy to clipboard"></sm-copy-clipboard>
          }
        </mat-form-field>


        <!--        <mat-form-field appearance="outline" class="black">-->
        <!--          <mat-label class="header">-->
        <!--            <span>Subdir</span>-->
        <!--            <i class="al-icon al-ico-info-circle ms-2 msm"-->
        <!--               smTooltip=""></i>-->
        <!--          </mat-label>-->
        <!--          <input matInput formControlName="subdir"/>-->
        <!--        </mat-form-field>-->

        <mat-checkbox formControlName="use_credentials_chain">
          <div class="header">
            <span>使用凭证链</span>
            <i class="al-icon al-ico-info-circle ms-2 msm"
               smTooltip="系统会从环境变量、凭证文件以及配置了 IAM 角色的元数据服务中查找凭证"></i>
          </div>
        </mat-checkbox>

      </div>
    }
  </div>

  <button mat-button (click)="$event.preventDefault(); addAwsBucket()">
    <mat-icon fontSet="al" fontIcon="al-ico-add"></mat-icon>
    添加凭证
  </button>
</div>
