<header>
  <div class="title">
    API 凭证
    <mat-icon
      class="info sm"
      fontSet="al" fontIcon="al-ico-info-circle"
      smTooltip="供客户端调用服务端接口使用的访问密钥/密钥凭证对，包括 SDK、代理程序以及其他接口调用客户端"
      matTooltipPosition="above"
    ></mat-icon>
  </div>
</header>
@for (cred of credentials() | keyValue; track cred.key) {
  <div class="section mb-4">
    <sm-admin-credential-table
      [credentials]="cred?.value"
      (updateCredentialLabel)="updateLabel($event)"
      (credentialRevoked)="onCredentialRevoked($event)"
    ></sm-admin-credential-table>
    <button mat-button
            class="add-button"
            [class.disabled]="credState().creatingCredentials()"
            (click)="createCredential()"
    >
      <mat-icon fontSet="al" fontIcon="al-ico-add"></mat-icon>
      创建新凭证
    </button>
  </div>
}
