<sm-dialog-template header="脱敏参数" iconClass="al-ico-access-key">
  <form class="form-container" #redactedArgumentsForm ='ngForm'>
    @for (redactedArgument of redactedArguments(); track redactedArgument.key; let i = $index) {
      <div class="d-flex align-items-center" >
        <mat-form-field appearance="outline" floatLabel="always" class="argument-input no-bottom">
          @if (redactedArg?.errors?.required) {
            <mat-error>必填</mat-error>
          }
          <input type="text"
            matInput
            required
            #redactedArg="ngModel"
            [autocomplete]="'off'"
            [name]="'ar' + i | uuid"
            [(ngModel)]="redactedArgument.key"
            placeholder="参数">
        </mat-form-field>
        <button mat-icon-button (click)="redactedArguments().splice(i, 1)">
          <mat-icon fontSet="al" fontIcon="al-ico-trash"></mat-icon>
        </button>
      </div>
    }
  </form>
  <button mat-button (click)="redactedArguments().push({key:''})"><mat-icon fontSet="al" fontIcon="al-ico-add"></mat-icon>添加</button>
  <mat-dialog-actions>
    <button
      mat-stroked-button
      (click)="closeDialog()">
      取消
    </button>
    <button type="submit"
      mat-flat-button
      (click)="applyChanges()"
      [disabled]="redactedArgumentsForm.invalid">
      保存
    </button>
  </mat-dialog-actions>
</sm-dialog-template>
