<h1>轻松构建并部署 GenAI 应用</h1>
<div class="sub-title">
  通过点击即可部署模型端点和 AI 应用，并提供安全、受认证的网络访问。
</div>

<div class="section">
  <div class="details">
    <h2>模型端点部署</h2>
    部署可扩展的多模型端点，并支持可配置的多 GPU 规格以及 GPU/CPU 卸载。
  </div>
  <div class="image" (click)="imageClicked(image1)">
    <img
      [ngSrc]="'app/webapp-common/assets/marketing/apps-model-deployment-' + theme() + '.png'"
      #image1
      width="640"
      height="360"
      alt="Model deployment"
    >
  </div>
</div>

<div class="section">
  <div class="image" (click)="imageClicked(image2)">
    <img
      [ngSrc]="'app/webapp-common/assets/marketing/apps-gradio-with-input-' + theme() + '.png'"
      #image2
      width="640"
      height="360"
      alt="gradio streamlit"
    >
  </div>
  <div class="details">
    <h2>易用 ML/UI</h2>
    通过 UI 启动器，可将任意 Gradio/Streamlit 代码转换为安全可访问的 Web 应用。
  </div>
</div>

<div class="section">
  <div class="details">
    <h2>LLM 对话</h2>
    为任意 LLM 安全部署可视化聊天客户端。
  </div>
  <div class="image" (click)="imageClicked(image3)">
    <img
      [ngSrc]="'app/webapp-common/assets/marketing/apps-llm-edited-box-' + theme() + '.png'"
      #image3
      width="640"
      height="360"
      alt="query"
    >
  </div>
</div>

<div class="section">
  <div class="image" (click)="imageClicked(image4)">
    <img
      [ngSrc]="'app/webapp-common/assets/marketing/custom-apps-fhd-' + theme() + '.png'"
      #image4
      width="640"
      height="360"
      alt="custom apps"
    >
  </div>
  <div class="details">
    <h2>无代码应用构建器</h2>
    为你的 ClearML 部署添加自定义应用，让组织中的更多人都能使用 AI。
  </div>
</div>
<div class="cta">
  <a href="https://clear.ml/contact-us" target="_blank" class="cta-button">
    <mat-icon fontSet="al" fontIcon="al-ico-bullhorn"></mat-icon>联系 ClearML</a>
</div>
