<sm-dialog-template header="中止流水线运行{{experiments.length > 1 ? '记录' : ''}}" [iconClass]="'al-ico-abort'">
  @if (shouldBeAbortedTasks !== null) {
    <div>
      <div>这将中止 {{experiments.length > 1 ? experiments.length : '该'}}
        @if (experiments.length === 1) {
          <b>{{experiments[0]?.name ? '"' + experiments[0]?.name + '"' : ''}} </b>
        } 条流水线运行
      </div>
    </div>
  }
</sm-dialog-template>
<div mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close data-id ="CancelButton">取消</button>
  <button mat-flat-button [mat-dialog-close]="{shouldBeAbortedTasks}" data-id ="AbortButton">中止</button>
</div>
