<div
  class="color-picker-wrapper"
  [style.top.px]="state()?.props?.top"
  [style.left.px]="state()?.props?.left">
  @if (props()) {
    <div
      [(colorPicker)]="state().color"
      [cpOKButton]="false"
      [cpCancelButton]="false"
      [cpSaveClickOutside]="false"
      [cpAlphaChannel]="props()?.alpha ? 'forced' : 'disabled'"
      [cpDisableInput]="true"
      [cpPresetColors]="props()?.alpha ? alphaPresetColors : presetColors"
      [cpExtraTemplate]="buttons"
    ></div>
  }
  <ng-template #buttons>
    <div class="buttons">
      <button mat-stroked-button (click)="closeColorPicker()">关闭</button>
      <button mat-flat-button (click)="selectColor()">应用</button>
    </div>
  </ng-template>
</div>
